.div {
  background-color: red;
  height: 200px;
}

.shift {
  transition: 0.2s ease-in-out;
  transform: translate(200px, 0);
}
@media (min-width: 400px) {
  .div {
    background-color: blue;
  }
}
/* @media (min-width: 400px) and (max-width: 800px) {
  .div {
    background-color: green;
  }
} */
