.linkItems:hover {
  background-color: var(--primary-color) !important;
  transition: 0.25s ease-in-out;
}
.linkItems {
  padding: 5px 8px;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .container {
    width: 100% !important;
  }
}
