.inputContainers {
  position: relative;
}
.inputLabel {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  background-color: var(--background-color);
}
.inputField {
  width: 100% !important;
  font-size: 20px !important;
  color: white;
  border: 1px solid white;
  height: 50px;
}
.inputField:focus {
  outline: 1px solid var(--primary-color);
}
.submitBtn:hover {
  background-color: rgb(160, 44, 255) !important;
}
.footerLink {
  padding: 2px;
  border-radius: 100%;
  transition: 0.25s ease-in-out;
}
.footerLink:hover {
  outline: 2px solid var(--primary-color);
}
@media (max-width: 800px) {
  .form {
    width: 100% !important;
  }
  .body {
    justify-content: start !important;
    height: fit-content !important;
  }
}
