body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.main {
  width: 40%;
  margin: 0 auto;
}
#projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectItem {
  border: 2px solid var(--secondary-color);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.projectDesc {
  font-size: 18px;
  color: rgb(212, 212, 212);
}

.projectHeader {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actionbutton {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-size: 15px;
  width: 100%;
}

.actionbutton:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.actionbuttonLinks {
  margin: 5px;
  text-decoration: none;
}

.projectComps {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.projectComp {
  width: fit-content;
  padding: 2px 7px;
  border-radius: 5px;
}
